
  
  .card {
    width: 210px; 
    height: 290px;
    border-radius: 5%;
    border: 2px solid #344063; 
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.6s ease; 
    box-shadow: 25px 15px 20px rgba(89, 88, 88, 0.62); 
    margin: 20px;
    background-color: #7a8dc3;
    
  }
  
  .card img {
    max-width: 100%; /* Limit the image width to the card's width */
    max-height: 100%; /* Limit the image height to the card's height */
  }

  .card img.front-face {
    display: none; 
    width: 230px;
    height: 180px;
    margin: 20px;
    box-shadow: none;

  }
  
  .card.flipped {
    transform: rotateY(180deg);
    box-shadow: -25px 10px 20px rgba(89, 88, 88, 0.62); 
    background: linear-gradient(to left, #bccbf5, #98a9d4);
  }
  
  .card.flipped img.front-face {
    display: block; 
    box-shadow: none;
    margin-left: -15px;
  }

  .card.flipped .breed-name{
    color: black;
    visibility: visible;
  }

  .breed-name {
    text-align: center;
    font-family: 'Patrick Hand SC', cursive;
    font-weight: bold;
    font-size: 28px; 
    transform: rotateY(180deg); 
    margin: 20px;  
    color: transparent;
    visibility: hidden;
  }

  .matched {
    background-color: #ffffff;
    border: 5px solid #397946;
    animation: shine 2s; 
    transform-origin: center center;
    transform: scale(1.5); /* Start with a larger size */
  }
  
  @keyframes shine {
    from {
      background-color: #ffffff; /* Original background color */
      transform: scale(1.2); /* Initial larger size */
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.8); /* Add a subtle glow effect */
      border: 5px solid #ffffff;
    }
    to {
      background-color: #ffffff; /* Changed background color for the shine effect */
      transform: scale(1); /* Return to the original size */
      box-shadow: 0 0 40px rgba(255, 255, 255, 0.9); /* Increase glow during the shine effect */
      border: 5px solid #397946;

    }
  }
  
  
  
